<div class="sidebar-wrapper">
                <div class="title-group">
                    <span class="title">风格特色</span>
                    <a class="more" href="#">更多</a>
                </div>
                <div class="advertise-group">
                    <a href="#">
{#                        <img src="http://r9nruh1se.hd-bkt.clouddn.com/tooopen_v094924492473b53184-bf10-49b0-a94a-c6cef8bb34ba.jpg" alt="">#}
                        <img src="http://127.0.0.1:8000/media/suancaiyu.jpg" alt="">
                    </a>
                </div>
                <div class="platform-group">
                    <div class="title-group">
                        <span class="title">关于我们</span>
                    </div>
                    <div class="focus-group">
                        <ul class="left-group">
                           <li class="zhihu">
                               <a href="#" target="_blank">食全食美</a>
                           </li>
                            <li class="weibo">
                               <a href="#" target="_blank">食全食美</a>
                           </li>
                            <li class="toutiao">
                               <a href="#" target="_blank">食全食美</a>
                           </li>
                        </ul>
                        <div class="right-group">
                            <p class="desc">扫码关注微信公众平台</p>
                        </div>
                    </div>
                </div>
                <div class="hot-news-group">
                    <div class="title-group">
                        <span class="title">热门推荐</span>
                    </div>
                    <ul class="hot-list-group">
                        <li>
                            <div class="left-group">
                                <p class="title">
                                    <a href="">{{ goods.name }}</a>{% comment %}{% url 'goods:goods_detail' goods_id=goods.pk %}{% endcomment %}
                                </p>
                                <p class="more">
                                    <span class="category">{{  categories.name }}</span>
{#                                    <span class="pub-time">1小时前</span>#}
                                </p>
                            </div>
                            <div class="right-group">
                                <a href="#">
                                    <img src="http://static-image.xfz.cn/1516169692_914.jpg-website.news.list" alt="">
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>